body {
    font-family: "Montserrat";
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat-Bold";
}

.container-fluid {
    padding: 3% 12% 7%;
}

p {
    color: #8f8f8f;
}

/* Headings */
.main-heading {
    font-size: 3.5rem;
    line-height: 1.5;
    text-align: left;
}

.about-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.cta-heading {
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Sections */
.colored-section {
    background-color: bisque;
    color: black;
}

.floralwhite-section {
    background-color: floralwhite;
}

.white-section {
    background-color: #fff;
    border-top: 1px solid gray;
}

/* Navbar */
.navbar {
    padding: 0 0 2rem;
}

.nav-item {
    padding-left: 18px;
    padding-right: 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: light;
    color: #000;
}

.nav-link:focus,
.nav-link:hover {
    color: brown;
    font-weight: 500;
    font-size: 20px;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.25rem;
    font-weight: bold;
    color: white;
}

.navbar-brand:hover {
    color: white;
}

/* Title */
#title {
    text-align: left;
}

.title-image {
    width: 18%;
    position: absolute;
    right: 18%;
}

@media (max-width: 1220px) {
    .title-image {
        width: 50%;
        position: static;
        padding-top: 1.5%
    }

    #title {
        text-align: center;
    }
}

@media (max-width: 1550px) {

    #title {
        text-align: center;
    }
}

/* Features */
#features {
    padding: 7% 15%;
    position: relative;
}

.feature-text {
    font-size: 2rem;
}

.feature-box {
    padding: 5%;
    line-height: 1.5rem;
}

.fas {
    color: #5dd9ff;
    margin-bottom: 1rem;
}

.fas:hover {
    color: #2481eb;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
    width: 10%;
    margin: 20px;
    border-radius: 100%;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.carousel-icon-style {
    background-color: #000;
    border-radius: 50%;
}

/* Press */
#press {
    background-color: burlywood;
}

.press-logo {
    width: 20%;
    margin: 20px 20px;
    border-radius: 15%;
}

/* Pricing */
.card-title {
    padding-bottom: 5%;
    font-size: 2rem;
}

.card-title:hover {
    font-weight: bold;
}

.lead {
    padding: 1% 7%;
    font-size: 1.25rem;
    font-weight: normal;
}

.lead:hover {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

/* About */
.card-header {
    background-color: khaki;
}

#about .card-body {
    text-align: start;
    font-size: 0.99rem;
}

/*Resume*/
.download-btn {
    background-color: #000;
    color: #fff;
}

#resume .btn:hover {
    color: #000;
    background-color: #fff;
    border-color: #000;
    font-size: 18px;
}

/* Footer */
#footer {
    padding: 1%;
}

.social-icon {
    padding: 1%;
    color: black;
}